/* Clear button */
.widget-Signature div {
  clear: both;
}

.widget-Signature canvas,
.widget-Signature image {
  position: relative;
  left:     0px;
  right:    0px;
  max-width: none;
}

.signature-unset canvas {
  display: block;
  touch-action: none;
}

.signature-unset.image {
  display: none;
}

.signature-unset button {
  display: none;
}

.signature-set canvas {
  display: none;
}

.signature-set image {
  display: block;
  opacity: 0.5;
}

.signature-set button {
  display: block;
}

.signature-disabled button {
  display: none;
}
